<a [routerLink] = "[draftsMessageId]"
   routerLinkActive = "active"
   style = " cursor: pointer;"
   class="list-group-item clearfix">
      <div class = "col-xs-1">
         <form>
            <div class = "form-group">
               <input type = "checkbox" style = "width:15px; height:15px;" class = "pull-left">
            </div>
         </form>
      </div>
      <div class = "col-xs-11">
         <div class = "col-xs-9">
            <div class = "col-xs-3">
               <img
                  src = "{{ draftsMessage.imagePath }}"
                  alt = "{{ draftsMessage.name }}"
                  class = "img-responsive img-circle pull-left"
                  style = "max-height: 40px; border-radius: 1px solid black;">
            </div>
            <div class = "col-xs-8">
               <span class ="pull-left" style = "color: black; font-weight: bold; margin: 0px 0px 0px 0px;"> {{ draftsMessage.name }} </span>
            </div>
         </div>
         <div class = "col-xs-3">
            <p class ="pull-right"> 28 Jun </p>
         </div>
         <div  class = "col-xs-10">
            <p class = "pull-left" style = " font-size: 11px; float: left; color: black">
               {{ draftsMessage.descriptionHeader }}
               <span class = "badge"> {{ draftsMessage.badge }} </span>
            </p>
         </div>
         <div class = "col-xs-2">
            <span class = "glyphicon glyphicon-star-empty" style = "margin-right: 0px;"> </span>
            <span class = "glyphicon glyphicon-circle-arrow-right"> </span>
         </div>
      </div>
</a>
