input.ng-invalid.ng-touched {
   border: 1px solid red;
   border-left: 6px solid red;
}

input.ng-valid.ng-touched {
   border: 1px solid green;
   border-left: 6px solid green;
}

textarea.ng-invalid.ng-touched {
   border: 1px solid red;
   border-left: 6px solid red;
}

textarea.ng-valid.ng-touched {
   border: 1px solid green;
   border-left: 6px solid green;
}
